<h1> Tabela de Ativos Criptomoedas</h1>

<table>
  <thead>
    <tr>
      <th>Ativo</th>
      <th>Qtd</th>
      <th>Preço</th>
      <th>Total</th>
      <th colspan="5" ></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ativos.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.qtd %></td>
        <td>$<%= s.valor %></td>
        <td>$<%= s.media %></td>       
        <td></td>
        <td></td>
        <td><%= button_to 'Editar', edit_ativo_path(s.id), method: :get %></td>
        <td><%= button_to 'Deletar', ativo_path(s), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<br>
<%= button_to 'Inicio', root_path, method: :get %>